<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>StageByScreen</string>
	<key>CFBundleIdentifier</key>
	<string>org.stagebyscreen.StageByScreen</string>
	<key>CFBundleName</key>
	<string>台前随屏</string>
	<key>CFBundleDisplayName</key>
	<string>台前随屏</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.1</string>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>StageByScreenReleaseVersion</key>
	<string>0.1.1</string>
	<key>SUFeedURL</key>
	<string>https://github.com/splwany/StageByScreen/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>Fk2SaDJemJqtrtAwQ/sXW453gClyCgcZSrhije6k86o=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
	<key>SURequireSignedFeed</key>
	<true/>
</dict>
</plist>
